* {
  margin: 0;
  padding: 0;
  background-color: #FFB43F;
}

body {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-1 {
  font-family: 'Raleway', sans-serif;
}
#play {
  position: relative;
  width: 30px;
  height: 30px;
  outline: none;
  color: #034C50;
  background: linear-gradient(0deg, #FFC654, #54ACFF);
  border: none;
  align-self: center;
  justify-items: center;
}

.fa-play {
  background: linear-gradient(10deg, #FFC654, #54ACFF);}
.fa-pause {
  background: linear-gradient(10deg, #FFC654, #54ACFF);
}
input[type="range"] {
  -webkit-appearance: none;
  width: 130px;
  outline: none;
  height: 18px;
  background: #9CC6FF;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 0.1px;
  background: #FF8A65;
  cursor: wait;
}
.slider {
position: relative;
width: 130px;
height: 18px;
}
.slider input {
position: absolute;
left: 0px;
top: 0;
width: 130px;
height: 18px;
-webkit-appearance: none;
background-color: transparent;
z-index: 99;
}
.slider input::-webkit-slider-thumb{
-webkit-appearance: none;
width: 0.1px;
height: 18px;
cursor: pointer;
}
.slider progress {
width: 130px;
height: 18px;
-webkit-appearance: none;
position: absolute;
top: 0;
left: 0;
overflow: hidden;
}
.slider progress::-webkit-progress-bar { background-color: #9CC6FF;}
.slider progress::-webkit-progress-value { background-color: #FF8A65;}
.sliderValue {
font-family: "Google Sans Regular";
width: 28px;
height: 20px;
margin-left: -4px;
margin-top: -2px;
color: #070350;
text-align: center;
}

.fa-volume-down {
  color: #070350;
}
ul {
  position: relative;
  top: 130px;
  right: 180px;
  display: flex;
  transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d;
}
ul li {
  position: relative;
  list-style: none;
  width: 130px;
  height: 18px;
  margin: 0px 10px;
}
ul li:before {
  content: '';
  position: absolute;
  bottom: -10px;
  right: 0px;
  width: 100.4%;
  height: 11px;
  background: #93B3EF;
  transform-origin: top;
  transform: skewX(-41deg);
}
ul li:after {
  content: '';
  position: absolute;
  top: 0.6px;
  left: -8.9px;
  width: 9px;
  height: 100%;
  background: #597FCB;
  transform-origin: right;
  transform: skewY(-49deg);
}
.fri {
  position: relative;
  top: 190px;
  left: -200px;
  display: flex;
  transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d;
}

.play-dima {
  position: relative;
  list-style: none;
  width: 16px;
  height: 22px;
  margin: 0px 13.78px;
}

.play-dima:before {
  content: '';
  position: absolute;
  bottom: -18px;
  left: 14px;
  width: 100%;
  height: 10px;
  background: #93B3EF;
  transform-origin: top;
  transform: skewX(-41deg);
      }

.play-dima:after {
  position: absolute;
  bottom: 3.4px;
  right: 8px;
  width: 8.9px;
  height: 135%;
  background: #597FCB;
  transform-origin: right;
  transform: skewY(-49deg);
}

.frix {
  position: relative;
  top: 90px;
  left: -500px;
  list-style: none;
  width: 150px;
  height: -1px;
  margin: 0px 8px;
}
.special-box:before {
  content: '';
  position: absolute;
  bottom: -52px;
  left: 10px;
  width: 130%;
  height: 10px;
  background: #93B3EF;
  transform-origin: top;
  transform: skewX(-41deg);
}
.special-box:after {
  position: absolute;
  top: 0px;
  left: -8.4px;
  width: 8.7px;
  height: 332%;
  background: #597FCB;
  transform-origin: right;
  transform: skewY(-49deg);
}


a:link {
  outline: none;
  text-decoration: none;
  color: #516569;
      }

img {
  margin: 0;
  padding: 0;
}
.data {
  color: #3F699E;
  font-size: 1.1em;
  background: #FE969600;
  opacity: 1;
  position: relative;
  bottom: 116px;
  left: 67px;
  margin-left: 4px;
  animation-name: delaytext;
  animation-delay: 10s;
  animation-duration: 60s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
@keyframes delaytext {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.data:hover{
  color: #000000;
  text-shadow: 0 0 10px #000000;
}
.data2 {
  color: #3F699E;
  font-size: 1.1em;
  background: #FE969600;
  position: relative;
  opacity: 0;
  bottom: 152px;
  left: 67px;
  margin-left: 2px;
  animation-name: delaytext2;
  animation-duration: 60s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
@keyframes delaytext2 {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
    color: #00000000;
  }
  42% {
    opacity: 0.7;
    color: #5D66CA;
  }
  43% {
    opacity: 1;
    color: #5D66CA;
  }
  60% {
    opacity: 1;
    color: #5D66CA;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    color: #00000000;
  }
}
cd {
  position: relative;
  top: 30px;
  right: 120px;
  background: #00000000;
}
.background-box {
  width: 135px;
  height: 60px;
  background: linear-gradient(90deg, #63BFFF, #FF6363);
  position: relative;
  bottom: 64.2px;
  left:60px;
  animation-name: changebackground;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  animation-delay: 2.68s;
  animation-duration: 20s;
  animation-timing-function: ease-out;
}
@keyframes changebackground{
  0% {
    background: linear-gradient(60deg, #63BFFF, #FF6363);
  }
  10% {
    background: linear-gradient(30deg, #FFCB63, #FF63DE);
  }
  20% {
    background: linear-gradient(150deg, #9063FF, #A9FF63);
  }
  30% {
    background: linear-gradient(40deg, #C1FF80, #46CEB5);
  }
  40% {
  background: linear-gradient(230deg, #F1FF7C, #FF8B7C);
  }
  50% {
    background: linear-gradient(330deg, #7C9CFF, #DCFF7C);
  }
  60% {
    background: linear-gradient(280deg, #B27CFF, #FF7C7C);
  }
  70% {
    background: #FF7C7C;
  }
  72% {
    background: #7EFFBD;
  }
  74% {
    background: #8AFF7E;
  }
  78% {
    background: linear-gradient(130deg, #7EFFDF, #526BAE);
  }
  80% {
    background: linear-gradient(280deg, #B27CFF, #FF7C7C);
  }
  100% {
    background: linear-gradient(70deg, #FFAC69, #FF6E00);
  }
}
.loader {
  background: none;
  transform: rotate(180deg);
}
.loader-x {
  position: relative;
  bottom: 226px;
}
.loader-w {
  position: relative;
  bottom: 254px;
  right: 31px;
}
.loader-a {
  position: relative;
  bottom: 282px;
  right: 61px;
}
.loader-y {
  position: relative;
  bottom: 309.9px;
  right: 90px;
}
.loader-b {
  position: relative;
  bottom: 340px;
  left: 20px;
}
.loader-c {
  position: relative;
  bottom: 368px;
  left: 50px;
}
svg path,
svg rect{
  fill: #427096;
  background-color: #00000000;
  animation-name: changefill;
  animation-fill-mode: backwards;
  animation-duration: 20s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes changefill {
  0% {
    fill: #427096;
  }
  10% {
    fill: #77ED6B;
  }
  20% {
    fill: #D56BED;
  }
  30% {
    fill: #7EFFDF; 
  }
  40% {
    fill: #526BAE;
  }
  50% {
    fill: #FF59B4;
  }
  60% {
    fill: #FF5959;
  }
  80% {
    fill: #97C574;
  }
  90% {
    fill: #59FFD9;
  }
  100% {
    fill: #427096;
  }
}
#icons-on {
  position: relative;
  width: 30px;
  height: 30px;
  outline: none;
  color: #034C50;
  background: #00000000;
  border: none;
  align-self: center;
  justify-items: center;
}
.author-song {
  position: relative;
  bottom: 368px;
  left: 210px;
  width: 50px;
  height: 50px;
}
.special-text {
  position: relative;
  bottom: 374px;
  left: 210px;
  background: #00000000;
}
.fa-volume-up, .fa-volume-down {
  position: relative;
  right: 4px;
  top: 3px;
  overflow: hidden;
}
